<div class="row justify-content-center">
  <div class="col-8">
    <form
      name="editForm"
      role="form"
      novalidate
      (ngSubmit)="save()"
      [formGroup]="editForm"
    >
      <h2
        id="jhi-city-heading"
        data-cy="CityCreateUpdateHeading"
        jhiTranslate="worldApp.city.home.createOrEditLabel"
      >
        Create or edit a City
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label
            class="form-control-label"
            jhiTranslate="global.field.id"
            for="field_id"
            >ID</label
          >
          <input
            type="number"
            class="form-control"
            name="id"
            id="field_id"
            data-cy="id"
            formControlName="id"
            [readonly]="true"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="worldApp.city.name"
            for="field_name"
            >Name</label
          >
          <input
            type="text"
            class="form-control"
            name="name"
            id="field_name"
            data-cy="name"
            formControlName="name"
          />
          <div
            *ngIf="
              editForm.get('name')!.invalid &&
              (editForm.get('name')!.dirty || editForm.get('name')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('name')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="worldApp.city.countryCode"
            for="field_countryCode"
            >Country Code</label
          >
          <input
            type="text"
            class="form-control"
            name="countryCode"
            id="field_countryCode"
            data-cy="countryCode"
            formControlName="countryCode"
          />
          <div
            *ngIf="
              editForm.get('countryCode')!.invalid &&
              (editForm.get('countryCode')!.dirty ||
                editForm.get('countryCode')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('countryCode')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="worldApp.city.district"
            for="field_district"
            >District</label
          >
          <input
            type="text"
            class="form-control"
            name="district"
            id="field_district"
            data-cy="district"
            formControlName="district"
          />
          <div
            *ngIf="
              editForm.get('district')!.invalid &&
              (editForm.get('district')!.dirty ||
                editForm.get('district')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('district')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="worldApp.city.population"
            for="field_population"
            >Population</label
          >
          <input
            type="number"
            class="form-control"
            name="population"
            id="field_population"
            data-cy="population"
            formControlName="population"
          />
          <div
            *ngIf="
              editForm.get('population')!.invalid &&
              (editForm.get('population')!.dirty ||
                editForm.get('population')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('population')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('population')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="worldApp.city.isFavorite"
            for="field_isFavorite"
            >Is Favorite</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="isFavorite"
            id="field_isFavorite"
            data-cy="isFavorite"
            formControlName="isFavorite"
          />
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="worldApp.city.lastVisited"
            for="field_lastVisited"
            >Last Visited</label
          >
          <div class="d-flex">
            <input
              id="field_lastVisited"
              data-cy="lastVisited"
              type="datetime-local"
              class="form-control"
              name="lastVisited"
              formControlName="lastVisited"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="worldApp.city.continent"
            for="field_continent"
            >Continent</label
          >
          <select
            class="form-control"
            name="continent"
            formControlName="continent"
            id="field_continent"
            data-cy="continent"
          >
            <option [ngValue]="null">
              {{ "worldApp.Continents.null" | translate }}
            </option>
            <option value="NORTHAMERICA">
              {{ "worldApp.Continents.NORTHAMERICA" | translate }}
            </option>
            <option value="SOUTHAMERICA">
              {{ "worldApp.Continents.SOUTHAMERICA" | translate }}
            </option>
            <option value="EUROPE">
              {{ "worldApp.Continents.EUROPE" | translate }}
            </option>
            <option value="AFRICA">
              {{ "worldApp.Continents.AFRICA" | translate }}
            </option>
            <option value="ASIA">
              {{ "worldApp.Continents.ASIA" | translate }}
            </option>
            <option value="AUSTRALIA">
              {{ "worldApp.Continents.AUSTRALIA" | translate }}
            </option>
            <option value="ANTARCTICA">
              {{ "worldApp.Continents.ANTARCTICA" | translate }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button
          type="button"
          id="cancel-save"
          class="btn btn-secondary"
          (click)="previousState()"
        >
          <fa-icon icon="ban"></fa-icon>&nbsp;<span
            jhiTranslate="entity.action.cancel"
            >Cancel</span
          >
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span
            jhiTranslate="entity.action.save"
            >Save</span
          >
        </button>
      </div>
    </form>
  </div>
</div>
